/* 1 dan 5 mde */


.nice-btn {
    padding: 10px 20px;
    background: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s; 
}


.nice-btn:hover {
    background: orange;     
    transform: scale(1.05); 
    box-shadow: 0 0 10px black;
}


.nice-btn:active {
    transform: translateY(3px); 
    color: #222;                
}

/* 6davaleba */

.focus-input:focus {
    outline: 3px solid #ff9900;
}

/* 7 davaleba */
.focus-area {
    transition: 0.2s;
}

.focus-area:focus {
    transform: scale(1.5);
    outline: 3px solid #3498db;
}

/* 8 davaleba */


.msg:is(.error, .warning, .success) {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.error { background: #ffdddd; }
.warning { background: #fff3cd; }
.success { background: #d4edda; }

/* 9 davaleba */
#hidden-text {
    display: none;
}


#check:checked + #hidden-text {
    display: block;
    color: green;
}

/* 10 davaleba */

.email:valid {
    outline: 3px solid red;
}


.email:invalid {
    outline: 3px solid green;
}

/* 11 davaleba */
.target-box {
    padding: 15px;
    border: 2px solid #888;
    margin-top: 10px;
}

.target-box:target {
    background: yellow;
    border-color: black;
}
