/* 1 davaleba */



/* CSS ანიმაცია გამოიყენება ელემენტების დინამიური მოძრაობისთვის, ფორმის, ზომის, ფერის, პოზიციის */

/* 2 davaleba */


@keyframes move {
  from { left: 0px; }
  to { left: 200px; }
}

.box {
  position: relative;
  animation: move 2s infinite;
}




/* 5 davaleba */


.card {
  width: 150px;
  height: 200px;
  background: lightblue;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover {
  transform: rotateY(180deg);
}



/* 6 davaleba */

.move {
  width: 60px;
  height: 60px;
  background: red;
  position: relative;
  animation: updown 2s infinite alternate;
}

@keyframes updown {
  from { transform: translateY(0); }
  to   { transform: translateY(100px); }
}

/* 7 davaleba */
@keyframes colors {
  0% { background: red; }
  33% { background: yellow; }
  66% { background: blue; }
  100% { background: red; }
}

body {
  animation: colors 5s infinite;
}

/* 8 davaleba */
.progress {
  width: 300px;
  height: 20px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.line {
  height: 100%;
  background: green;
  animation: fill 4s forwards;
}

@keyframes fill {
  from { width: 0%; }
  to { width: 100%; }
}

/* 9 davaleba */
.slide {
  position: relative;
  animation: slideIn 2s forwards;
}

@keyframes slideIn {
  from { left: -200px; opacity: 0; }
  to   { left: 0; opacity: 1; }
}