/* 1 davaleba */


/* z indexi aris romelic zemodan adebs meore kubs ricxveis daxmarebit */


/* 2 davaleba */


    

.red{
    height: 100px;
    width: 100px;
    background-color: blue;
    z-index: 2;
    position: relative;
    left: 50px;
    top: 80px;
}


.blue{
    height: 100px;
    width: 100px;
    z-index: 1;
    background-color: red;
    position: relative;
    left: 90px;

}


/* 3 davaleba */


/* lineari - gamoiyeneba rom gvinda rom cvens ert div qonde mravali feri hqondes  */

/* gradienti - gamoiyeneba css kutnileba segidzlia mivutitot saidan daiwyos ferebis secvlda da sadamde damtavrdes */