/* 5 davaleba */

.gridText {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center; 
  gap: 10px;
}

.txt {
  background: lavender;
  padding: 15px;
}


/* 6 davaleba */

/* start--ელემენტები განლაგებულია კონტეინერის დასაწყისში 
end--ელემენტები მიდიან ბოლო მხარეს 
center--ელემენტები შუაში დგებიან
space-between--პირველი დგება ბოლოში, ბოლო — ბოლოში და შუაში ყველა სხვას თანაბარი ინტერვალები აქვს
space-around--თითო ელემენტს ორივე მხარეს თანაბარი სივრცე აქვს გარეთა კიდეებზე სივრცე ოდნავ პატარაა
space-evenly--ყოველ ელემენტს და კიდეებსაც აქვს ზუსტად ერთნაირი ინტერვალი
stretch--ელემენტები იჭრებიან/გაიწელებიან სივრცის შესავსებად */